<div
  *ngIf="!deleteSelectedAuthor && !readSelectedAuthor && !editSelectedAuthor"
>
  <h1>{{ title }}</h1>
  <div class="container d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div class="col" *ngFor="let author of authors">
        <div class="card mb-3">
          <img [src]="author.image" class="card-img-top" class="img-square" />
          <div class="card-body">
            <h5 class="card-title">{{ author.name }}</h5>
          </div>
          <a class="btn border-dark mb-3" (click)="onReadSelectAuthor(author)"
            >View blogs</a
          >

          <a class="btn border-dark mb-3" (click)="onEditSelectAuthor(author)"
            >Edit</a
          >
          <a class="btn border-dark mb-3" (click)="onDeleteSelectAuthor(author)"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="readSelectedAuthor">
  <app-your-blogs [author]="readSelectedAuthor"></app-your-blogs>
</div>
<div *ngIf="editSelectedAuthor">
  <app-edit-author [author]="editSelectedAuthor"></app-edit-author>
</div>
<div *ngIf="deleteSelectedAuthor">
  <app-delete-author [author]="deleteSelectedAuthor"></app-delete-author>
</div>
