.img-square {
  width: 100%;         /* Make the width take full space of the parent element */
  height: 15rem;
  object-fit: cover;    /* Ensures the image covers the square without distortion */
  border-radius: 300rem;   /* Optional: Adds rounded corners */
}
.card-title {
  text-align: center;
}
.card {
  border-style: none;
}
h1 {
  margin: 4rem 0;
  text-align: center;
}

